.area{
	position: relative;
	width: calc(50% - 40px);
	float: left;
	outline: 1px solid;
}
.scroll_area{
	height: calc(100vh - 300px);
	overflow-y: scroll;
}
.cardwrap{
	position: relative;
	width: calc(50% - 12px);
	margin-bottom: 24px;
	float: left;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	outline: 1px solid;
}
.cardwrap:nth-child(2n){
	margin-left: 24px;
}
.ingredient_wrap{
	width: calc(100% - 32px);
	display: inline-block;
}
.ingredient_image{
	position: relative;
	text-align: center;
}

.price{
	display: flex;
	justify-content: center;
}
.tabs > div{
	min-width: calc(33% - 10px);
}

.name{
	height: 60px;
}
::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track{
	background: #2f2f37;
}

::-webkit-scrollbar-thumb{
	background: #8585ad;
	border: 3px solid #8585ad;
}